@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Lato:ital,wght@0,100;0,400;1,100&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', 'sans-serif';
    font-weight: 400;
    background-color: #3e3e37;
    color: #ffdd00;
}

body > footer {
    position: sticky;
    top: 100vh;
}

/* headings and logo */

header {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: 'Comfortaa', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffdd00;
    font-size: 400%;
}

#logo {
    float: left;
    font-size: 280%;
    margin: 0;
    padding: 16px;
    color: #ffdd00;
    margin-left: 30px;
}


/* navigation links */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}

#navigation ul {
    display: flex;
    justify-content: space-evenly;
}

#navigation li {
    list-style-type: none;
    line-height: 20px;
    color: #ffdd00;
    margin: 1em auto
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #ffdd00;
}

.active {
    border-bottom: 1px solid #ffdd00;
}

/* hero image and cover text*/

#hero-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
}

#cover-text,
#cover-text h2 {
    color: #ffdd00;
}

#hero-image {
    height: 500px;
    max-width: 100%;
    background: url('../images/hero-im.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 55%;
    font-family: 'Comfortaa', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 250px;
    padding-left: 10px;
    background-color: rgba(62, 62, 55, 0.7);
    bottom: 100px;
    right: 150px;
    position: absolute;
}


/*  about */

#about {
    width: 100%;
    color: #ffdd00;
}

#about-container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

#about * {
    background-color: #292924;
}

#about-img {
    object-fit: cover;
    margin: 2em auto;
    max-height: 400px;
    max-width: 100%;
}

#about h2 {
    font-size: x-large;
    text-align: center;
    margin: 0;
    line-height: 90px;
}

#about p {
    font-size: large;
    letter-spacing: 4px;
    padding: 0 2em;
}

#times-services {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* times and service prices */

#times {
    padding: 3em 0;
    background: url('../images/times.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    
    
}


#times table {
    display: inline;

}

#times h2 {
    margin-top: 0;
    padding: 20px;
    line-height: 2em;
    font-size: large;
    text-decoration: underline;
}

#times td {
    padding: 15px;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

#prices {
    margin: 3em auto;
    text-align: center;
    font-size: medium;
}

#prices h3 {
    font-size: 2em;
    padding-top: 10px;
    font-weight: 400;

}

#prices h2 {
    margin-top: 5px;
    line-height: 2em;
    font-size: 100%;
    text-decoration: underline;
}


/* address section */

#address {
    background-color: #292924;
    height: 250px;
    width: 100%;
    color: #ffdd00;
    text-align: center;
    margin: 0;
}

#address h2 {
    font-size: 1em;
    text-decoration: underline;
    padding: 30px 30px;
    font-weight: 400;
}

#address h3 {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 2em;
}

/* map */

#map {
    height: 300px;
    width: 100%;
    border: 0;
}

/* footer with social links */

footer {
    height: 120px;
    width: 100%;
    text-align: center;

}


footer ul {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin: 0;
}

footer li {
    list-style: none;
}

footer i {
    color: #ffdd00;
    font-size: 150%;
}

footer p {
    margin: 20px;
}

/*gallery photos */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0;
}

#gallery>img {
    width: 100%;
}


/* booking form */

#booking {
    clear: both;
    background: url('../images/booking.jpg') no-repeat center;
    background-size: cover;
}

#form {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    padding: 5em 0;
}

#form h2 {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 1em;
}

#call {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1em;
}


#form form {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
}

.input {
    background-color: #3e3e37;
    border: 1px solid #ffdd00;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
   
    
}

.input:hover {
    background-color: #ffeb66;
}

#form p {
    margin-top: 20px;
}

.buttons {
    border-style: none;
    padding: 10px;
}



.submit-button {
    display: block;
    margin: 40px;
    background-color: #ffdd00;
    border: none;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    font-weight: bold;
    
    
}

.submit-button:hover {
    background-color: #ffeb66;
    
}



/* media queries */

@media (min-width: 750px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #navigation li {
        margin: 2em 1em;
    }

    #about-img {
        max-width: 75%;
    }

    #gallery {
        column-count: 2;
    }

    #form form {
        max-width: 65%;
    }
}


@media (min-width: 950px) {
    #about-container {
        flex-direction: row;
        margin: 0 auto;
    }

    #about p {
        max-width: 40%;
    }

    #about-img {
        max-width: 40%;
    }

    #times-services {
        flex-direction: row;
    }

    #times, #prices {
        width: 50%;
    }

    #gallery {
        column-count: 3;
    }

    #form form {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #gallery {
        column-count: 4;
    }
}
