@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Lato:ital,wght@0,100;0,400;1,100&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Rubik', 'sans-serif';
    font-weight: 400;
    background-color: #3e3e37;
    color: #ffdd00;

}

/* headings and logo */

h1,
h2 {
    font-family: 'Comfortaa', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffdd00;
    font-size: 400%;

}

#logo {
    float: left;
    font-size: 280%;
    margin: 0;
    padding: 16px;
    color: #ffdd00;
    margin-left: 30px;
}


/* navigation links */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}


#navigation li {
    float: right;
    list-style-type: none;
    padding: 25px;
    margin-right: 30px;
    line-height: 20px;
    color: #ffdd00;

}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #ffdd00;
}

.active {
    border-bottom: 1px solid #ffdd00;
}

/* hero image and cover text*/

#hero-section {

    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;

}

#cover-text,
#cover-text h2 {
    color: #ffdd00;

}



#hero-image {
    height: 500px;
    max-width: 100%;
    background: url('../images/hero-im.jpg') no-repeat center center;
    background-size: cover;

}

#cover-text {
    font-size: 55%;
    font-family: 'Comfortaa', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 250px;


    padding-left: 10px;
    background-color: rgba(62, 62, 55, 0.7);
    bottom: 100px;
    right: 150px;
    position: absolute;
}


/*  about */

#about {

    width: 100%;
    color: #ffdd00;
    

}

#about-container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

#about * {
    background-color: #292924;
}

#about-img {
    /* height: auto; */
    /* width: 44%; */
    /* max-width: 600%; */
    /* float: right; */
    /* padding-right: 4%; */
    /* padding-left: 0.4%; */
    object-fit: cover;
    margin: 2em auto;
    max-height: 400px;
    max-width: 100%;
}

#about h2 {
    font-size: x-large;
    text-align: center;
    margin: 0;
    line-height: 90px;
}

#about p {
    font-size: large;
    /* width: 44%; */
    /* float: left; */
    letter-spacing: 4px;
    /* padding-left: 4%; */
    /* padding-right: 0.4%; */
    padding: 0 2em;
}

/*#times-services {
    /* position: relative; */
    /* clear: both; */



@media (min-width: 750px) {
    #about-img {
        max-width: 75%;
    }
}


@media (min-width: 950px) {
    #about-container {
        flex-direction: row;
        margin: 0 auto;
    }

    #about p {
        max-width: 40%;
    }

    #about-img {
        max-width: 40%;
    }
}

/* times and service prices */


#times-container {
    display: flex;
   /* flex-direction: column;*/
    min-width: 950px;
    /*padding: 2em 0;*/
    
}


@media (min-width: 950px) {
    #times-services {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #times {
        max-width: 50%;
    }

    #prices {
        max-width: 50%;
    }


}

/*#times-services {
    position: relative;
    clear: both;
}*/

#times {
    background: url('../images/times.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 360px;
    width: 50%;
    
    
}


#times table {
    display: inline;
}

#times h2 {
    margin-top: 0;
    padding: 20px;
    line-height: 2em;
    font-size: large;
    text-decoration: underline;
}

#times td {
    padding: 15px;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

#prices {
    text-align: center;
    font-size: medium;
    width: 50%;
    height: 360px;
    position: relative;
    clear: both;
        
}

#prices h3 {
    font-size: 2em;
    padding-top: 10px;
    font-weight: 400;
    
}


#prices h2 {
    margin-top: 5px;
    line-height: 2em;
    font-size: 100%;
    text-decoration: underline;
}


/* address section */

#address {
    background-color: #292924;
    height: 250px;
    width: 100%;
    color: #ffdd00;
    text-align: center;
    margin: 0;
    
    
}

#address h2 {
    font-size: 1em;
    text-decoration: underline;
    padding: 30px 30px;
    font-weight: 400;
    
}

#address h3 {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 2em;

}

/* footer with social links */

footer {
    height: 120px;
    width: 100%;
    text-align: center;
    
}

footer li {
    padding: 1%;
    display: inline;
    padding: 0 80px;
    
}

footer ul {
    padding-top: 30px;
    margin: 0;
    
}

footer i {
    color: #ffdd00;
    font-size: 150%;
}

footer p {
    margin: 20px;
}

/*gallery photos */

#gallery {
    clear: both;
    
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}

#gallery > img {
    width: 100%;
}





